body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ludo-container {
  border-radius: 7%;
  height: 80vh;
  width: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 40%);
  outline: 5px solid;
}

.red-container {
  border-radius: 18%;
  position: absolute;
  height: 39.6%;
  width: 39.6%;
  background-color: hsl(0, 100%, 50%);
  top: 0;
  left: 0;
}

.blue-container {
  border-radius: 18%;
  position: absolute;
  height: 39.6%;
  width: 39.6%;
  background-color: hsl(240, 100%, 50%);
  top: 0;
  right: 0;
}

.green-container {
  border-radius: 18%;
  position: absolute;
  height: 39.6%;
  width: 39.6%;
  background-color: hsl(120, 100%, 25%);
  bottom: 0;
  left: 0;
}

.yellow-container {
  border-radius: 18%;
  position: absolute;
  height: 39.6%;
  width: 39.6%;
  background-color: hsl(60, 100%, 50%);
  bottom: 0;
  right: 0;
}

.button-div {
  position: absolute;
  top: 94%;
}

.seto {
  border-radius: 15%;
  position: absolute;
  height: 70%;
  width: 70%;
  top: 15%;
  left: 15%;
  background-color: white;
}

.seto div {
  width: 30%;
  height: 30%;
  margin: 10px;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
}

.first {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seto-red div span {
  height: 80%;
  width: 80%;
  background-color: hsl(0, 100%, 34%);
  border-radius: 50%;
}

.seto-blue div span {
  height: 80%;
  width: 80%;
  background-color: hsl(240, 100%, 25%);
  border-radius: 50%;
}

.seto-green div span {
  height: 80%;
  width: 80%;
  background-color: hsl(120, 100%, 14%);
  border-radius: 50%;
}

.seto-yellow div span {
  height: 80%;
  width: 80%;
  background-color: rgb(134, 134, 0);
  border-radius: 50%;
}

.seto-red {
  background-color: hsl(0, 100%, 30%);
}

.seto-green {
  background-color: hsl(120, 100%, 11%);
}

.seto-yellow {
  background-color: hsl(60, 100%, 30%);
}

.seto-blue {
  background-color: hsl(240, 100%, 30%);
}

.bato {
  background-color: white;
  position: absolute;
  height: 6.66%;
  width: 6.66%;
  border: 2px solid;
}

/* ya dekhi talako ho */

.one {
  bottom: 0%;
  left: 39.5%;
  border-radius: 0 0 0 100%;
}
.two {
  bottom: 6.66%;
  left: 39.5%;
  background-color: green;
}
.three {
  bottom: 13.33%;
  left: 39.5%;
}
.four {
  bottom: 20%;
  left: 39.5%;
}
.five {
  bottom: 26.66%;
  left: 39.5%;
}
.six {
  bottom: 33.33%;
  left: 39.5%;
  border-radius: 16% 0 0 0;
}
.seven {
  bottom: 0%;
  left: 46.36%;
}
.eight {
  bottom: 6.66%;
  left: 46.36%;
  background-color: green;
}
.nine {
  bottom: 13.33%;
  left: 46.36%;
  background-color: green;
}
.ten {
  bottom: 20%;
  left: 46.36%;
  background-color: green;
}
.eleven {
  bottom: 26.66%;
  left: 46.36%;
  background-color: green;
}
.twelve {
  bottom: 33.33%;
  left: 46.36%;
  background-color: green;
}
.threet {
  border-radius: 0 0 100% 0;
  bottom: 0%;
  left: 53.27%;
}
.fourt {
  bottom: 6.66%;
  left: 53.27%;
}
.fivet {
  bottom: 13.33%;
  left: 53.27%;
}
.sixt {
  bottom: 20%;
  left: 53.27%;
}
.sevent {
  bottom: 26.66%;
  left: 53.27%;
}
.eightt {
  bottom: 33.33%;
  left: 53.27%;
  border-radius: 0 16% 0 0;
}

/* ya dekhi left ko ho */

.ninet {
  left: 0%;
  bottom: 39.5%;
  border-radius: 0 0 0 100%;
}
.twenty {
  left: 6.66%;
  bottom: 39.5%;
}
.twentyone {
  left: 13.33%;
  bottom: 39.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twentyone-safe {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.twentyone-safe-out {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  width: 80%;
  height: 80%;
  background-color: white;
}

.twentytwo {
  left: 20%;
  bottom: 39.5%;
}
.twentythree {
  left: 26.66%;
  bottom: 39.5%;
}
.twentyfour {
  left: 33.33%;
  bottom: 39.5%;
  border-radius: 0 0 16% 0;
}
.twentyfive {
  left: 0%;
  bottom: 46.36%;
}
.twentysix {
  left: 6.66%;
  bottom: 46.36%;
  background-color: red;
}
.twentyseven {
  left: 13.33%;
  bottom: 46.36%;
  background-color: red;
}
.twentyeight {
  left: 20%;
  bottom: 46.36%;
  background-color: red;
}
.twentynine {
  left: 26.66%;
  bottom: 46.36%;
  background-color: red;
}
.thirty {
  left: 33.33%;
  bottom: 46.36%;
  background-color: red;
}
.thirtyone {
  border-radius: 100% 0 0 0;
  left: 0%;
  bottom: 53.27%;
}
.thirtytwo {
  left: 6.66%;
  bottom: 53.27%;
  background-color: red;
}
.thirtythree {
  left: 13.33%;
  bottom: 53.27%;
}
.thirtyfour {
  left: 20%;
  bottom: 53.27%;
}
.thirtyfive {
  left: 26.66%;
  bottom: 53.27%;
}
.thirtysix {
  left: 33.33%;
  bottom: 53.27%;
  border-radius: 0 16% 0 0;
}

/* yadekhi aarkai bato ho */

.thirtyseven {
  right: 0%;
  top: 39.5%;
  border-radius: 0 100% 0 0;
}
.thirtyeight {
  right: 6.66%;
  top: 39.5%;
}
.thirtynine {
  right: 13.33%;
  top: 39.5%;
}
.fourty {
  right: 20%;
  top: 39.5%;
}
.fourtyone {
  right: 26.66%;
  top: 39.5%;
}
.fourtytwo {
  right: 33.33%;
  top: 39.5%;
  border-radius: 16% 0 0 0;
}
.fourtythree {
  right: 0%;
  top: 46.36%;
}
.fourtyfour {
  right: 6.66%;
  top: 46.36%;
  background-color: yellow;
}
.fourtyfive {
  right: 13.33%;
  top: 46.36%;
  background-color: yellow;
}
.fourtysix {
  right: 20%;
  top: 46.36%;
  background-color: yellow;
}
.fourtyseven {
  right: 26.66%;
  top: 46.36%;
  background-color: yellow;
}
.fourtyeight {
  right: 33.33%;
  top: 46.36%;
  background-color: yellow;
}
.fourtynine {
  border-radius: 0 0 100% 0;
  right: 0%;
  top: 53.27%;
}
.fifty {
  right: 6.66%;
  top: 53.27%;
  background-color: yellow;
}
.fiftyone {
  right: 13.33%;
  top: 53.27%;
}
.fiftytwo {
  right: 20%;
  top: 53.27%;
}
.fiftythree {
  right: 26.66%;
  top: 53.27%;
}
.fiftyfour {
  right: 33.33%;
  top: 53.27%;
  border-radius: 0 0 0 16%;
}

/* yadekhi aarkai bato ho */

.fiftyfive {
  top: 0%;
  right: 39.5%;
  border-radius: 0 100% 0 0;
}
.fiftysix {
  top: 6.66%;
  right: 39.5%;
  background-color: blue;
}
.fiftyseven {
  top: 13.33%;
  right: 39.5%;
}
.fiftyeight {
  top: 20%;
  right: 39.5%;
}
.fiftynine {
  top: 26.66%;
  right: 39.5%;
}
.sixty {
  top: 33.33%;
  right: 39.5%;
  border-radius: 0 0 16% 0;
}
.sixtyone {
  top: 0%;
  right: 46.36%;
}
.sixtytwo {
  top: 6.66%;
  right: 46.36%;
  background-color: blue;
}
.sixtythree {
  top: 13.33%;
  right: 46.36%;
  background-color: blue;
}
.sixtyfour {
  top: 20%;
  right: 46.36%;
  background-color: blue;
}
.sixtyfive {
  top: 26.66%;
  right: 46.36%;
  background-color: blue;
}
.sixtysix {
  top: 33.33%;
  right: 46.36%;
  background-color: blue;
}
.sixtyseven {
  border-radius: 100% 0 0 0;
  top: 0%;
  right: 53.27%;
}
.sixtyeight {
  top: 6.66%;
  right: 53.27%;
}
.sixtynine {
  top: 13.33%;
  right: 53.27%;
}
.seventy {
  top: 20%;
  right: 53.27%;
}
.seventyone {
  top: 26.66%;
  right: 53.27%;
}
.seventytwo {
  top: 33.33%;
  right: 53.27%;
  border-radius: 0 0 0 16%;
}

.greenWins {
  height: 20%;
  width: 20%;
  background-color: green;
  transform: rotate(45deg);
  position: absolute;
  top: 54.1%;
  border: 2px solid;
  clip-path: polygon(
    71% 0,
    86% 14%,
    100% 29%,
    100% 100%,
    31% 100%,
    16% 85%,
    0 71%,
    0 0
  );
}

.yellowWins {
  height: 20%;
  width: 20%;
  background-color: yellow;
  transform: rotate(45deg);
  position: absolute;
  border: 2px solid;
  left: 54.27%;
  clip-path: polygon(
    33% 0,
    100% 0,
    100% 64%,
    83% 79%,
    68% 100%,
    0 100%,
    0 30%,
    19% 18%
  );
}

.blueWins {
  height: 20%;
  width: 20%;
  background-color: blue;
  transform: rotate(135deg);
  position: absolute;
  border: 2px solid;
  bottom: 54.27%;
  clip-path: polygon(
    33% 0,
    100% 0,
    100% 64%,
    83% 79%,
    68% 100%,
    0 100%,
    0 30%,
    19% 18%
  );
}

.redWins {
  height: 20%;
  width: 20%;
  background-color: red;
  transform: rotate(45deg);
  position: absolute;
  border: 2px solid;
  right: 54.27%;
  clip-path: polygon(
    33% 0,
    100% 0,
    100% 64%,
    83% 79%,
    68% 100%,
    0 100%,
    0 30%,
    19% 18%
  );
}
